<header class="site-header">
        <a href="/index.html" class="logo">
            <img src="https://res.cloudinary.com/dkvnulmx9/image/upload/v1777386339/JG_Brand_Assets_Logo_bporus.svg" alt="Logo">
            <span class="brand-name">JEAN GOH</span>
        </a>
    <div class="hamburger" id="menuToggle">
        <input type="checkbox" id="toggle">
        <label for="toggle" class="hamburger-icon"></label>
    </div>
    <nav id="mainNav">
        <ul class="nav-links flex row">
            <li class="nav-item">
                <a href="/about-me">About Me</a>
            </li>
            <li class="nav-item dropdown">
                <a href="/projects" class="nav-link">Projects <span class="material-icons">expand_more</span></a>
                <ul class="dropdown-content left">
                    <li><a href="/projects.html?tag=visual-design">Visual Design</a></li>
                    <li><a href="/projects.html?tag=brand-identity">Brand Identity</a></li>
                    <li><a href="/projects.html?tag=video-editing">Video Editing</a></li>
                    <li><a href="/projects.html?tag=motion-graphics">Motion Graphics</a></li>
                    <li><a href="/projects.html?tag=uiux-design">UIUX Design</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="https://medium.com/@jeanyjg">My Articles</a>
            </li>
            <li class="nav-item">
                <a href="https://wa.me/+6598390153">My Resume</a>
            </li>
            <li class="nav-item">
                <a href="https://wa.me/+6598390153">Contact Me</a>
            </li>
        </ul>
    </nav>
</header>