---
---
<header class="site-header">
    <a href="/" class="logo">
        <img src="https://res.cloudinary.com/dkvnulmx9/image/upload/v1777386339/JG_Brand_Assets_Logo_bporus.svg" alt="Logo">
        <span class="brand-name">JEAN GOH</span>
    </a>

    <div class="hamburger" id="menuToggle">
        <input type="checkbox" id="toggle">
        <label for="toggle" class="hamburger-icon"></label>
    </div>

    <nav id="mainNav">
        <ul class="nav-links flex row">
            <li class="nav-item">
                <a href="/about-me">About Me</a>
            </li>

            <li class="nav-item dropdown">
                <a href="/projects" class="nav-link">
                    Projects <span class="material-icons">expand_more</span>
                </a>

                <ul class="dropdown-content left">
                    {% for category in site.data.categories %}
                        <li>
                            <a href="/projects?tag={{ category.tag }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li class="nav-item">
                <a href="https://medium.com/@jeanyjg">My Articles</a>
            </li>

            <li class="nav-item">
                <a href="https://res.cloudinary.com/dkvnulmx9/image/upload/v1782414128/Jean_Goh_Designer_Resume_ir9qok.pdf">My Resume</a>
            </li>

            <li class="nav-item">
                <a href="https://wa.me/+6598390153">Contact Me</a>
            </li>
        </ul>
    </nav>
</header>