---
permalink: /projects
layout: default
title: Projects
---
  <!-- Services Section -->
    <section id="project-page" class="center container">
      <h2>{{ page.title }}</h2>
      <div id="projectTagAlign">
      <div id="project-filters" class="center container">
        <!-- Mobile Filter -->
        <div class="mobile-filter">
          <button id="filter-toggle" class="filter-icon-btn">
            <span class="material-icons">filter_list</span>
          </button>

          <div class="mobile-filter-menu">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="visual-design">Visual Design</button>
            <button class="filter-btn" data-filter="brand-identity">Brand Identity</button>
            <button class="filter-btn" data-filter="video-editing">Video Editing</button>
            <button class="filter-btn" data-filter="motion-graphics">Motion Graphics</button>
            <button class="filter-btn" data-filter="uiux-design">UIUX Design</button>
          </div>
        </div>
        <!-- Desktop Filter -->
          <div class="desktop-filters center">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="visual-design">Visual Design</button>
            <button class="filter-btn" data-filter="brand-identity">Brand Identity</button>
            <button class="filter-btn" data-filter="video-editing">Video Editing</button>
            <button class="filter-btn" data-filter="motion-graphics">Motion Graphics</button>
            <button class="filter-btn" data-filter="uiux-design">UIUX Design</button>
        </div>
      </div>
    </div>

  <!-- Projects Section -->
  <div id="featured-projects" class="center column container reveal">
    <div id="projectsGrid">
      {% assign projects = site.projects | sort: "order" %}
      {% for project in projects %}
      {% if project.shown %}
        <a class="project-link"
           href="{{ project.url }}"
           data-tags="{% for tag in project.tags %}{{ tag | downcase | replace: ' ', '-' }}{% unless forloop.last %},{% endunless %}{% endfor %}">

          <div class="project-card-column">
            <div class="project-thumbnails">
              <img src="{{ project.image }}" alt="{{ project.project_title }}">
            </div>
            <div class="project-info">
              <h4>{{ project.project_title }}</h4>
              <div class="tag-spacer">
                {% for tag in project.tags %}
                  <span class="tag-pill">
                    {{ tag }}
                  </span>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      {% endif %}
      {% endfor %}
    </div>
</div>
</section>