---
layout: default
---
<article class="blog-post container reveal" data-title="{{ page.title }}">

  <header class="blog-header">
    <p class="blog-date">
      {{ page.date | date: "%B %-d, %Y" }}
    </p>
    <h2>{{ page.title }}</h2>
  </header>
  <img class="blog-header-image" src="{{ page.image }}" alt="{{ page.title }}">

  <div class="blog-content">
    {{ content }}
  </div>
 <section>

  {% assign found_current = false %}
  {% assign previous_post = nil %}
  {% assign next_post = nil %}

  {% for post in site.posts %}

    {% if post.url == page.url %}

      {% assign found_current = true %}

    {% elsif post.status != "D" %}

      {% if found_current == false %}
        {% assign previous_post = post %}
      {% elsif next_post == nil %}
        {% assign next_post = post %}
      {% endif %}

    {% endif %}

  {% endfor %}

  <nav class="post-navigation" aria-label="Post navigation">

    {% if previous_post %}
      <a class="post-nav post-nav-prev" href="{{ previous_post.url }}">
        <p>
          ← Previous <br>
          <strong>{{ previous_post.title | truncate: 30 }}</strong>
        </p>
      </a>
    {% endif %}

    {% if next_post %}
      <a class="post-nav post-nav-next" href="{{ next_post.url }}">
        <p>
          Next → <br>
          <strong>{{ next_post.title | truncate: 30 }}</strong>
        </p>
      </a>
    {% endif %}

  </nav>

</section>
</article>